@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
    --nav-height: 4rem;
    --section-padding-y: 6rem;
    --section-padding-y-top: calc(var(--section-padding-y) - var(--nav-height));
  }

  @media (min-width: 640px) {
    /* sm */
    :root {
      --section-padding-y: 8rem;
      --section-padding-y-top: calc(
        var(--section-padding-y) - var(--nav-height)
      );
    }
  }
  @media (min-width: 1024px) {
    /* lg */
    :root {
      --section-padding-y: 12rem;
      --section-padding-y-top: calc(
        var(--section-padding-y) - var(--nav-height)
      );
    }
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-sans);
  }

  code,
  pre,
  p {
    font-family: var(--font-mono);
  }
}

* {
  transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
}

.nav-shield {
  @apply relative before:block before:sticky before:top-0 before:h-[var(--nav-height)] before:w-full before:z-[9];
  &::before {
    background-color: inherit;
  }
}

.section-padding {
  padding-top: var(--section-padding-y-top);
  padding-bottom: var(--section-padding-y);
  @apply px-4 sm:px-6 lg:px-8;
}

/* Large heading utility */
.heading-lg {
  @apply tracking-tighter text-6xl sm:text-7xl mb-6;
}

.heading-md {
  @apply tracking-tighter text-5xl sm:text-6xl mb-4;
}
